@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:ital@1&display=swap");
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  /* max-height: 100%; */
  /* max-height: 1650px; */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  background-color: lightgray;
}

* {
  box-sizing: border-box;
}

/* Благодаря свойству box-sizing: border-box; границы и внутренние отступы
   будут учитываться в значениях, которые вы указываете в ширине и высоте элемента. 
   Это упрощает работу с размерами, позволяет указывать их более логично */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;

  background-color: #2d2f31;
  height: 50px;

  font-size: 15px;
  letter-spacing: 2px;
  /* line-height: 58px; */
  font-weight: 600;
  font-family: "Poppins";
}

.nav-link {
  color: #ebebeb;
  text-decoration: none;
  cursor: pointer;
}

.nav-link2 {
  color:#2d2f31;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  transition: 0.5s;
  color: darkgray;
}
.black {
  color: #2d2f31;
  font-size: 20px;
  
  background-color: #ebebeb;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}

.container-black {
  background-color: #2d2f31;
  min-height: 100vh;
  width: 26%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
}

.container-white {
  background-color: #ffffff;
  min-height: 100vh;
  width: 74%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  font-size: 64px;
  margin-bottom: 10px;
  /* line-height: 40px; */
  color: #2d2f31;
  font-weight: 400;
  font-family: "Poppins";
}

.avatar {
  width: 296px;
  height: 432px;
  /* border-radius: 8px; */
  border: 1px solid #ddd;
  /* position: relative; */
  /* right: 50px; */
}

.profession {
  font-size: 27px;
  /* line-height: 58px; */
  color: #2d2f31;
  background-color: #ebebeb;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}

.h2 {
  font-size: 20px;
  /* letter-spacing: 8px; */
  /* line-height: 58px; */
  color: #2d2f31;
  font-weight: 600;
  font-family: "Poppins";

  display: flex;
  /* justify-content: center; */
}

.bold {
  font-size: 42px;
  /* line-height: 67px; */
  color: #2d2f31;
  font-weight: 500;
  font-family: "Poppins";
}

.p {
  font-size: 16px;
  /* line-height: 67px; */
  color: #2d2f31;
  font-weight: 300;
  font-family: "Poppins";
}

.white {
  color: #ffffff;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
}

.footer {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  color: #2d2f31;
  /* background-color: #2d2f31; */
  /* align-items: center; */
  height: 50px;
}
.rss-img {
  width: 100px;
  height: 100px;
}
